<?xml version="1.0" encoding="UTF-8"?>
<config>
    <form>
        <fields name="params" addfieldpath="/components/com_jfusion/JFusion/Plugins/gallery2/Platform/Joomla/fields">
            <fieldset name="basic">
                <field name="title" type="text" default="" label="TITLE" description="TITLE_DESCR"/>
                <field name="album" type="Galleries" label="Default Gallery" description="test" />
                <field name="dispSideBar" type="radio" class="btn-group" default="1" label="Show Sidebar" description="SHOWSIDEBAR">
                    <option value="0">HIDE</option>
                    <option value="1">SHOW</option>
                </field>
                <field name="platform.showTemplateList" default="" type="JFusionCustomParam" label="Gallery Template" description="Gallery Template"/>
            </fieldset>
        </fields>
    </form>
</config>
