<?xml version="1.0"?>
<config>
	<modules>
		<Jfusion_Customer>
			<version>1.0.0</version>
		</Jfusion_Customer>
	</modules>

	<global>
        <fieldsets>
            <customer_account>
                <username><create>1</create><update>1</update><to_order>customer_username</to_order><to_quote>customer_username</to_quote></username>                
            </customer_account>
            <checkout_onepage_billing>
            	<username><to_customer>*</to_customer></username>
            </checkout_onepage_billing>
            <checkout_onepage_quote>
            	<customer_username><to_customer>username</to_customer></customer_username>
            </checkout_onepage_quote>
			<sales_convert_quote>
                <customer_username><to_order>*</to_order></customer_username>
            </sales_convert_quote>
			<sales_convert_quote_address>
            	<username><to_order_address>*</to_order_address><to_customer_address>*</to_customer_address></username>
            </sales_convert_quote_address>
            <sales_convert_order>
                <customer_username><to_quote>*</to_quote></customer_username>
            </sales_convert_order>
        </fieldsets>

		<blocks>
			<adminhtml>
				<rewrite>
					<customer_edit_tab_account>Jfusion_Customer_Block_Overwrite_Adminhtml_Edit_Tab_Account</customer_edit_tab_account>
				</rewrite>
			</adminhtml>
		</blocks>        
		<models>
			<customer>
				<rewrite>
					<customer>Jfusion_Customer_Model_Customer</customer>
					<form>Jfusion_Customer_Model_Form</form>
					<observer>Jfusion_Customer_Model_Observer</observer>
					<setup>Jfusion_Customer_Model_Observer</setup>
				</rewrite>
			</customer>
			<customer_entity>
				<rewrite>
					<customer>Jfusion_Customer_Model_Entity_Customer</customer>
				</rewrite>
			</customer_entity>
		</models>
	
		<resources>
			<jfcustomer_setup>
				<setup>
					<module>Jfusion_Customer</module>
					<class>Jfusion_Customer_Model_Entity_Setup</class>
				</setup>
				<connection>
					<use>default_setup</use>
				</connection>
			</jfcustomer_setup>
		</resources>
		
		<events>
			<customer_customer_authenticated>
				<observers>
					<customer_observer>
						<type>singleton</type>
						<class>customer/observer</class>
						<method>isActive</method>
					</customer_observer>
				</observers>
			</customer_customer_authenticated>
		</events>
	</global>
	
	<frontend>
		<translate>
			<modules>
				<Jfusion_Customer>
					<files>
						<default>Jfusion_Customer.csv</default>
					</files>
				</Jfusion_Customer>
			</modules>
		</translate>
	</frontend>
</config>
